    .offcanvas {
    background-color: #ffffff;
    padding: 28px;
}
.offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offcanvas-header h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: auto;
    font-family: 'Poppins', sans-serif;
}
.offcanvas-header button {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offcanvas-body {
    background-color: transparent;
    height: auto;
}
.list-product-cart {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-cart-image {
    max-width: 100px;
    max-height: 100px;
}
.product-cart-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.product-cart-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.product-cart-details .product-name {
    font-size: 16px;
    line-height: auto;
}
.product-cart-details .product-price ins {
    color: #B88E2F;
}

.product-cart-action button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 2px;
}
.offcanvas-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.offcanvas-footer .total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.offcanvas-footer .total-price .total-price-text {
    font-size: 16px;
    line-height: auto;
    font-weight: 500;
}
.offcanvas-footer .total-price .total-price-value {
    font-size: 16px;
    line-height: auto;
    font-weight: 500;
    color: #B88E2F;
}
.ben-cart {
    display: flex;
    justify-content: space-between;
}
.btn-cart {
    padding: 6px;
    border-radius: 50px;
    font-style: 12px;
    line-height: auto;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: 1px solid #000000;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.btn-cart a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;   
}
.btn-cart:hover a{
    color: #ffffff;
}
.btn-cart:hover {
    background-color: #B88E2F;
    color: #ffffff;
    border: 1px solid #B88E2F;
}