.container {
    width: 80%;
    margin: 0 auto;
}
.slider {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.slider-container {
    display: flex;
    gap: 20px;
}
.slider-item {
    width: 100%;
    max-width: 300px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
    }
}
.page-item .active {
    background-color: blue;
}